@import "../../stylesStore/breakpoints.scss";
@import "../../stylesStore/variables.scss";
.carouselBox {
  position: relative;
  width: 100%;
  color: $clr-dark;

  .heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .cardInCarousel {
      position: relative;
      //padding top and bottom 10px to give space for hover on card
      padding: 10px 15px;
      @include lg {
        padding: 10px 10px;
      }
      @include mm {
        padding: 10px 5px;
      }
    }
    button {
      z-index: 1;
      &:hover {
        background-color: aqua;
      }
    }
  }
}
