@import "../../stylesStore/variables.scss";
.homePage {
  .listHomeCarousel {
    margin: 15px 30px;
  }
  .discover {
    padding: 30px 50px;

    .flag-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      cursor: pointer;

      .flag {
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
        width: 90px;
        height: 100px;
        justify-content: space-between;
        transition: 0.3s;

        &:hover {
          filter: contrast(180%);
          scale: 1.05;
          animation: flagWave 2s infinite alternate;
        }
        img {
          width: 90px;
          object-fit: cover;
        }
      }
    }
  }
}
@keyframes flagWave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px) rotate(5deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0);
  }
}
